@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-dark-blue: #262e38;
  --color-very-dark-blue: #131518;
  --color-light-grey: #969fad;
  --color-medium-grey: #7c8798;
  --color-orange: #fc7614;
}

.container {
  max-width: 412px;
  background: linear-gradient(0deg, #232a34 0%, #181e27 100%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 1rem;
  background-color: #131518;
  font-family: "Overpass", sans-serif;
}
